.App {
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 30pm auto;
  border-radius: 10px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
}

hr {
  border: 1px solid rgba(27, 27, 79, 0.08);
}
