.App .search-input {
  width: 80%;
  color: #1b1b4f;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(27, 27, 79, 0.08);
  padding: 15px;
}

.App .search-button {
  background-color: #1b1b4f;
  color: white;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  padding: 15px 30px;
}
